* {
  font-size: 14px;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

label {
  color: #006699;
  text-transform: uppercase;
  font-weight: 500;

  &.form-check-label {
    color: black;

  }
}

table#JobMapping {
  thead tr {
    th {
      vertical-align: middle;
      text-align: center;

    }

    th:nth-child(1) {
      width: 55%;

    }

    th:nth-child(2) {
      width: 35%;

    }

    th:nth-child(3) {
      width: 10%;

    }
  }

  tbody {
    tr {
      td:nth-child(1) {
        vertical-align: middle;
        text-align: center;
      }

      td:nth-child(2) {
        text-align: center;
      }


    }
  }
}

.jobMapScroll {
  overflow-y: auto;
  max-height: 300px;
}

.statusChecklist {
  margin-left: 5px;
  font-weight: 200;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .8;
  border-radius: .2rem;
}
