<ngx-spinner size="default" type="line-scale-pulse-out-rapid">
  Loading...
</ngx-spinner>
<form [formGroup]="courierForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-row">
    <div class="col-md-8">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Courier Date</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="ocDate"
              [ngClass]="{ 'is-invalid': submitted && f.ocDate.errors }"
              name="iDate"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="iCourierName">Courier Company</label>
          <input
            type="text"
            class="form-control"
            id="iCourierName"
            formControlName="courier"
            [ngClass]="{ 'is-invalid': submitted && f.courier.errors }"
            placeholder="Courier Name"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Tracking No</label>
          <input
            type="text"
            class="form-control"
            id="iPOD"
            formControlName="pod"
            [ngClass]="{ 'is-invalid': submitted && f.pod.errors }"
            placeholder="Tracking No"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="iEmpFrom">Sent To Organisation </label>
          <ng-select
            formControlName="OrgID"
            bindValue="OrgID"
            [items]="orgLstData"
            bindLabel="OrgName"
            placeholder="Organisation"
            required
            appendTo="body"
            [ngClass]="{ 'is-invalid': submitted && f.OrgID.errors }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">From place</label>
          <ng-select
            formControlName="cityFrom"
            [items]="LocLstData"
            [addTag]="true"
            (change)="addloc($event)"
            placeholder="From Location"
            required
            appendTo="body"
            [ngClass]="{ 'is-invalid': submitted && f.cityFrom.errors }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-4">
          <div class="form-group">
            <label for="inputEmail4">TO place</label>
            <ng-select
              formControlName="cityTo"
              [items]="LocLstData"
              [addTag]="true"
              (change)="addloc($event)"
              placeholder="TO Location"
              required
              appendTo="body"
              [ngClass]="{ 'is-invalid': submitted && f.cityTo.errors }"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="iEmpFrom">From Person </label>
          <!-- <select
            id="iEmpFrom"
            class="form-control"
            formControlName="empFrom"
            [ngClass]="{'is-invalid':submitted && f.ocWtUM.errors && f.ocWtUM.errors.inValidOption}">
            <option *ngFor="let emp of empLstData" [ngValue]="emp.empId">{{
              emp.empName
            }}</option>
          </select> -->
          <ng-select
            formControlName="empFrom"
            bindValue="empName"
            [items]="empLstData"
            bindLabel="empName"
            placeholder="From Person"
            [addTag]="true"
            (change)="addFromEmp($event)"
            [virtualScroll]="true"
            required
            appendTo="body"
            [ngClass]="{ 'is-invalid': submitted && f.empFrom.errors }"
          >
          </ng-select>
        </div>
        <div class="form-group col-md-4">
          <label for="iEmpFrom">To Person </label>
          <ng-select
            formControlName="empTo"
            [items]="orgLocLstData"
            [addTag]="true"
            (change)="addToNewEmp($event)"
            [virtualScroll]="true"
            placeholder="To Person"
            [ngClass]="{ 'is-invalid': submitted && f.empTo.errors }"
          >
          </ng-select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputPassword4">Mode</label>
          <input
            type="text"
            class="form-control"
            id="iMode"
            formControlName="mode"
            [ngClass]="{ 'is-invalid': submitted && f.mode.errors }"
            placeholder="Mode"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputPassword4">Weight / Units</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <input
                type="text"
                class="form-control"
                id="iWt"
                formControlName="ocWt"
                [ngClass]="{ 'is-invalid': submitted && f.ocWt.errors }"
                placeholder="Weight"
              />
            </div>
            <select
              id="iMode"
              class="form-control"
              formControlName="ocWtUM"
              [ngClass]="{
                'is-invalid':
                  submitted && f.ocWtUM.errors && f.ocWtUM.errors.inValidOption
              }"
            >
              <option value="KGS">KGS</option>
              <option value="TONNES">TONNES</option>
              <option value="GRAMS">GRAMS</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3" *ngIf="show">
          <div class="form-group">
            <label for="inputPassword4">Recieved By: </label>
            <input
              type="text"
              class="form-control"
              id="iMode"
              placeholder="Recieved by"
              formControlName="ocRecieve"
              [ngClass]="{ 'is-invalid': submitted && f.ocRecieve.errors }"
            />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPassword4">Remarks</label>
          <textarea
            class="form-control"
            id="gridCheck"
            rows="4"
            formControlName="remark"
            [ngClass]="{ 'is-invalid': submitted && f.remark.errors }"
          ></textarea>

          <div class="form-row mt-5">
            <div class="form-group col-md-6">
              <button
                type="submit"
                class="btn btn-success btn-block"
                [disabled]="cr_status == '1'"
              >
                UPDATE COURIER
              </button>
            </div>
            <div class="form-group col-md-6">
              <button
                type="button"
                [disabled]="cr_status == '1'"
                class="btn btn-danger btn-block"
                (click)="delCourierData(cr_status)"
              >
                CANCEL
              </button>

              <button
                type="button"
                [disabled]="cr_status != '1'"
                class="btn btn-success btn-block"
                (click)="delCourierData(cr_status)"
              >
                UNCANCEL
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-row ">
        <div class="form-group col-md-12">
          <label for="docChecklist">Document CheckList: </label>
          <ul id="docChecklist" class="list-group">
            <li class="list-group-item list-group-item-danger">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="ocCLReq"
                  id="ocCLReq"
                />
                <label class="form-check-label" for="ocCLReq">
                  Covering Letter
                </label>
                <span class="badge badge-light float-right">{{
                  getCLCount()
                }}</span>
              </div>
            </li>
            <li
              *ngFor="let item of chekLstData"
              class="list-group-item list-group-item-info"
            >
              <div class="form-check">
                <input
                  class="form-check-input"
                  [(ngModel)]="item.checked"
                  type="checkbox"
                  id="gridCheck{{ item.oclId }}"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label class="form-check-label" for="gridCheck{{ item.oclId }}">
                  {{ item.oclTask }}
                </label>
                <button
                  type="button"
                  *ngIf="item.checked == true"
                  class="btn btn-xs float-right statusChecklist"
                  [ngClass]="
                    { COMPLETE: 'btn-success', PENDING: 'btn-danger' }[
                      item.oclStatus
                    ]
                  "
                  (click)="updateCheckListStatus(item)"
                  [disabled]="cr_status == '1'"
                >
                  {{ item.oclStatus }}
                </button>
                <span class="badge badge-light float-right">{{
                  getFilesCount(item.oclId)
                }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-row">
        <label class="col-md-12" for="JobMapping">Jobs Associated: </label>

        <div class="form-group col-md-12 jobMapScroll">
          <table id="JobMapping" class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Job No</th>
                <th>Action</th>
                <th>
                  <button
                    type="button"
                    class="btn btn-sm btn-danger float-right"
                    (click)="openJobMapping()"
                    [disabled]="cr_status == '1'"
                  >
                    Add
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of mapJobData">
                <td>{{ getJobNoFromID(row.jobId) }}</td>
                <td colspan="2">
                  <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    (click)="unlinkJobMapping(row)"
                    [disabled]="cr_status == '1'"
                  >
                    Unlink
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
