/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import "~@ng-select/ng-select/themes/default.theme.css";
.testBen {
  border: thin solid red;
}


.ag-theme-balham .courier-pending {
  background-color: #ff5232 !important;

}

.ag-theme-balham .courier-complete {
  background-color: #28a745 !important;

}

.ag-cust {
  width: 100%;
  //  min-height: 70vh;
  // height: 90%;

  .ag-body-viewport {
    min-height: 50px !important;

  }
}

