<!-- <ngx-spinner size="default" type="ball-spin-clockwise"> Loading... -->
<ngx-spinner size="default" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>
<div class="form-row details-menu">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="From Date" name="iDate" ngbDatepicker #d1="ngbDatepicker"
        (click)="d1.toggle()" autocomplete="off" [(ngModel)]="inpFromDate" (ngModelChange)="onModelChange_From($event)">
      <div class="input-group-prepend input-group-append">
        <div class="input-group-text"> - </div>
      </div>
      <input type="text" class="form-control" placeholder="To Date" name="iDate" ngbDatepicker #d2="ngbDatepicker"
        (click)="d2.toggle()" autocomplete="off" [(ngModel)]="inpToDate" (ngModelChange)="onModelChange_To($event)">
    </div>
  </div>
  <div class="col-md-2">
    <ng-select id="iOCStatus" [items]="statusList" [closeOnSelect]="true" bindLabel="stName" placeholder="Select Type"
      [(ngModel)]="selectedStatus">
    </ng-select>
  </div>
  <div class="col-md-2">


    <div class="input-group mb-3">
      <ng-select id="iOCJob" class="tester1" [items]="jobList" [closeOnSelect]="true" bindLabel="jobNo" placeholder="Select Job"
        [(ngModel)]="selectedJob">
      </ng-select>
      <div class="input-group-append">
        <button type="button" class="btn btn-sm btn-success fa fa-refresh" title="Refresh JobList" (click)="refreshJobList()"></button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-block" (click)="fetchNewDetails()">FETCH DETAILS</button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success btn-block" (click)="addDetailsForm()">ADD NEW COURIER</button>
  </div>
</div>
<br />
<ag-grid-angular class="ag-theme-balham ag-cust" [rowData]="rowData" [columnDefs]="columnDefs" [rowClassRules]="rowClassRules"
  (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
</ag-grid-angular>
